// Non-modular or client styles for .l-header region.

header {
  .btn-ghost {
    @include ghost-button($body-font-family, $paragraph-font-size/1.25, $white, .25rem, $white, 300ms, #000000);
  }

  a img {
    width: 160px;
    height: 160px;
    margin-bottom: 2rem;
  }
}

.hero {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  &__background {
    @extend %background;
  }
}

.hero-menu {
  &__background {
    @extend %background;
  }
}

.aboutus {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  @extend %full-width;
  &__background {
    @extend %background;
  }
  h3 {
    font-size: 1.45rem;
    @media #{$medium-up} { font-size: 2rem; }
    @media #{$large-up} { font-size: 3rem; }
  }
  h4 {
    font-size: 1rem;
    @media #{$medium-up} { font-size: 1rem; }
    @media #{$large-up} { font-size: 2rem; }
  }
  h3, h4 {
    color: $white;
  }
}

.quote {
  &__background {
    @extend %background;
  }
}

// Footer
ul li {
  list-style-type: none;
}

.item-list {
  ul {
    margin-bottom: 0;
    li {
      padding: 0.6rem 1.3rem;
      margin: 0;
      background: $blue;
      color: $white;
      span {
        font-size: 1.25rem;
        font-weight: bold;
      }
      p {
        margin: 0;
        color: darken($white, 15%);
      }
      &.last {
        background: darken($blue, 8%);
      }
    }
  }
}

.view-quote h3 {
  font-size: 2rem;
  @media #{$medium-up} { font-size: 4rem; }
}

.block-views-quote-block {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $oil;
    opacity: .6;
  }
}